<NAV id="cover_page" class="full_page container-fluid">
               <IMG id="cover_photo_image" src="https://farm4.staticflickr.com/3783/19512115211_8fbce261e2_b.jpg" srcset="https://farm4.staticflickr.com/3783/19512115211_8fbce261e2_b.jpg 1x, https://farm4.staticflickr.com/3783/19512115211_3797a6489c_h.jpg 1.5x, https://farm4.staticflickr.com/3783/19512115211_7d21ebbf09_k.jpg 2x, https://farm4.staticflickr.com/3783/19512115211_4bd160a8f0_o.jpg 3x">
               <A href="/"><IMG id="cover_title_image" src="/static/svg/FutureClaw_white.svg"></A>
               <H4 id="cover_credit"><A id="cover_credit_link" href="/fashion/tommy-hilfiger-fall-2015.html#look1">Gigi Hadid for<br>Tommy Hilfiger Fall 2015</A><SPAN class="continue">&nbsp;&gt;&gt;&gt;</SPAN><br><br>
               <A id="cover_credit_link" href="#contents_page">More Fashion</A><SPAN class="continue">&nbsp;&gt;&gt;&gt;</SPAN></H4>
            </NAV>