{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">Think Tank Data</h3>
  </div>
</div>

  <div class="jumbotron">
    <h1>Connecting Think Tanks</h1>
    <p class="lead">Try it now</p>
  </div>

  <div class="container">

    <div class="row marketing">
      <div class="col-md-4">
        <h2>Think Tanks</h2>
        <p>Connect your data to our searchable index to help reporters and policy makers consume your reports.</p>
      </div>
      <div class="col-md-4">
        <h2>Reporters</h2>
        <p>Search for think tank data from a single interface to help reach your readers.</p>
      </div>
      <div class="col-md-4">
        <h2>Policy Makers</h2>
        <p>Discover new insights and strengthen your awareness of global events.</p>
      </div>
    </div>
  </div>
{% endblock %}
